CONFIG_FIRMWARE_TYPE=trx
CONFIG_VENDOR=TPLINK
CONFIG_FIRMWARE_PRODUCT_ID=TL_EC220_G5-V2
CONFIG_LINUXDIR=linux-3.4.x
CONFIG_PROFILE=ramips
CONFIG_PROFILE_SUB=mt7620
CONFIG_FIRMWARE_SIZE=0x00760000
CONFIG_INT_SQUASHFS=y
CONFIG_PACKAGE_libopenssl=y
CONFIG_PACKAGE_ca-certificates=y
CONFIG_PACKAGE_xray-core=y
CONFIG_PACKAGE_v2ray-geoip=y
CONFIG_PACKAGE_v2ray-geosite=y
CONFIG_PACKAGE_themes=n
CONFIG_PACKAGE_transmission=n
CONFIG_PACKAGE_aria2=n
CONFIG_PACKAGE_minidlna=n
CONFIG_PACKAGE_tor=n
